---
---
<section class="bg-[#292621] flex justify-around pt-5 py-5 w-full">
<ul class="flex justify-around w-full text-white font-nats font-bold text-[18px]">
    <li>© 2024 charm</li>
    <li>vima0001@stud.kea.dk</li>
    <li>victoria s. markussen</li>
</ul>
</section>
  